<section>
  <h2>Education</h2>
  {%- for education in resume.education %}
    <section>
      <header>
        <h3>
          {{ education.studyType }} in {{ education.area }}
        </h3>
        <span>
          {{ education.institution }}
        </span>
        {%- if education.focus -%}
        <span>
          {{ education.focus }}
        </span>
        {%- endif %}
        <span class="date">
          {{ education.startDate }} &ndash; {{ education.endDate }}
        </span>
      </header>
    </section>
  {%- endfor %}
</section>
